###
### Example config file for WikiPride. 
###


[General]
language = hi
filterbots = True
startYM = 200401
endYM = 201106


[Directories]
cmapname = 'spectral'
basedirectory = ~/example
datadirectory = %(basedirectory)s/data
userlistdirectory = %(basedirectory)s/userlists
#reportdirectory = %(basedirectory)s/report
reportdirectory = ~/public_html/report
wikipridedirectory = %(basedirectory)s/wikipride

[MySQL]
sqlhost = hiwiki-p.rrdb.toolserver.org
sqlwikidb = hiwiki_p
sqluserdb = u_declerambaul
sqlconfigfile = ~/.my.cnf
sqldroptables = False
