###
### Default config file for WikiPride. 
### 
### The values of a specified config file at runtime overwrites the values of this file
###


[General]
language = kr
filterbots = True
startYM = 200401
endYM = 201106


[Directories]
cmapname = 'spectral'
basedirectory = .
datadirectory = %(basedirectory)s/data
userlistdirectory = %(basedirectory)s/userlists
reportdirectory = %(basedirectory)s/report
wikipridedirectory = %(basedirectory)s/wikipride

[MySQL]
sqlhost = krwiki-p.rrdb.toolserver.org
sqlwikidb = krwiki_p
sqluserdb = u_declerambaul
sqlconfigfile = ~/.my.cnf
sqldroptables = True
