###
### Default config file for Wikilytics. 
### 
### The values of a specified config file at runtime overwrites the values of this file
###


[General]
language = None
nobots = True
botfile = ../bots/%s(language)wiki_bot_user_id.tsv
startYM = 200401
endYM = 201106


[Directories]
cmapname = 'spectral'
basedirectory = .
datadirectory = %(basedirectory)s/data
reportdirectory = %(basedirectory)s/report
wikipridedirectory = %(basedirectory)s/wikipride

[MySQL]
sqlhost = LANUAGEwiki-p.rrdb.toolserver.org
sqlwikidb = LANUAGEwiki_p
sqluserdb = u_declerambaul
sqldroptables = False
sqlconfigfile = ~/.my.cnf

[MongoDB]
mongodb = wikilytics
mongocol = enwiki_editors_dataset

